/* CSS3 font */
@font-face { font-family: Russkov; src: url('../font/hunter-squared.ttf'); }

a { text-decoration: none; }
body {  background: url(img/bg3.png); }
#main { width: 800px; margin: auto auto;}
#header { display: block; margin-left: 10px; }
#logo { width: 400px; height: 72px; background-image: url(img/vodstok.png); display: block;}
#install {
	margin-top: 40px;
	width: 770px;
	border: solid 6px #000;	
	/*
	background-image: linear-gradient(bottom, rgb(58,58,58) 0%, rgb(224,224,224) 100%);
	background-image: -o-linear-gradient(bottom, rgb(58,58,58) 0%, rgb(224,224,224) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(58,58,58) 0%, rgb(224,224,224) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(58,58,58) 0%, rgb(224,224,224) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(58,58,58) 0%, rgb(224,224,224) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(58,58,58)),
		color-stop(1, rgb(224,224,224))
	);
	*/
}

#install div.block-header {
	display: block;
	padding-left: 10px;
	padding-top: 8px;
	font-family: Russkov;
	font-size: 28px;
}

#install div.block-header img {
	width: 21px;
	height: 21px;
	padding-right: 8px;
}

#install div.block-content {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 16px;
}

.russian {
  	font-family: Russkov;
	font-size: 20px;
}

span.ok {
    padding-left: 18px;
    margin-left: 8px;
    background: url(img/ok.png) no-repeat 0px 0px;
}

span.ko {
    padding-left: 16px;
    margin-left: 8px;
    background: url(img/ko.png) no-repeat 0px 0px;
}

span.error {
    color: red;
}
