body { background: url(img/bg3.png); }

#page {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    background: url(img/vodstok.png) center no-repeat;
    width: 800px;
    height: 150px;
}

#block {
    display: none;
    width: 100%;
    height: 80px;
    margin-top: 20px;
}

#progress {
    height: 40px;
}

#error {
    padding: 10px 10px 10px 10px;
    background: #bd0000;
    color: #eee;
    height: 40px;
    vertical-align: middle;
}

#error i {
    float: left;
}

#error_desc {
    padding-left: 30px;
    line-height: 40px;
    font-size: 30px;
}

#overlay {
    width: 100%;
    height: 100%;
    z-index: 999;
}

div.roll {
    background: url(img/pb-over.gif) repeat-x;
}

#progressbar {
    background: #292929;
    border: 1px solid #111; 
    border-radius: 5px; 
    overflow: hidden;
    box-shadow: 0 0 5px #333;
    width: 100%;
    height: 100%;
}

#bar {
    width: 100%;
}

#progressbar div#bar {
    height: 100%;
    color: #fff;
    text-align: right;
    font-size: 24px;
    line-height: 40px;
    background-color: #bd0000;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ed0000), to(#bd0000)); 
    background: -webkit-linear-gradient(top, #ed0000, #bd0000); 
    background: -moz-linear-gradient(top, #ed0000, #bd0000); 
    background: -ms-linear-gradient(top, #ed0000, #bd0000); 
    background: -o-linear-gradient(top, #ed0000, #bd0000);
}

#linkbox {
    font-size: 18px;
    line-height: 40px;
    color: #bd0000;
    width: 100%;
}

#droppy {
    width: 100%;
    height: 60px;
    border: dashed 3px #888;
    text-align:center;
    vertical-align:middle;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 30px;
    margin-top: 10px;
    background: #ddd;
}

#action {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #333;
}

#action span {
    padding-left: 15px;
}

#success {
    display:none;
    padding: 10px 10px 10px 10px;
    color: #bd0000;
    height: 40px;
    vertical-align: middle;
}

#success i {
    float: left;
}

#success_desc {
    padding-left: 30px;
    line-height: 40px;
    font-size: 30px;
}

#dlbtn {
    color: #333; !important
    border: solid 3px #ccc;
}

#dlbtn:hover {
    border-color: #bd0000;
}
