@import "materialize";
@import "components/menu";

.hidden {
    display: none;
}

#presentation {
    margin: 20px 0px 20px 0px;

    & a {
        margin-top: 40px;
    }

    & h2 {
        margin: 0;
    }
}

#upload {
    background-color: #f5f5f5;
    min-height: 400px;
    color: #c0c0c0;

    padding: 100px 0;

    & h2 {
        font-size: 4em;
    }

    & h3 {
        font-size: 2em;
    }
}

#stats {
    min-height: 250px;
}